<template>
  <v-container fluid fill-height style="height: 100vh;">
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title style="font-size: 2em;     color: #ffffff;">{{title}}</v-toolbar-title>

              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field prepend-icon="mdi-account" name="login" @keyup.enter="doLogin()" v-model="username" label="User" type="text"></v-text-field>
                  <v-text-field prepend-icon="mdi-lock" name="password" @keyup.enter="doLogin()" v-model="password" label="Password" id="password" type="password"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn color="warning" to="/register">Register</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary" v-on:click="doLogin()">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
</template>

<script>
export default {
  data () {
    return {
        title: 'Login',
        username: '',
        password:''
    }
  },
  mounted (){
    //clear local storage
    this.$storage.remove('user')
  },
  methods: {
    doLogin () {
        this.$http.post(`${this.$baseURL}/auth`,{
          username:this.username,
          password: this.password
        }).then( (response)=>{
          if(response.data && response.data.data.token){
            this.$storage.set('user',response.data.data)
            this.$toasted.success(`Login correct!`)
            this.$router.push('/dashboard')
          }
        }).catch((err)=>{
          this.$toasted.error("Username or password incorrect")
        })
    }
  }
}
</script>
