<template>
  <v-container fluid fill-height style="height: 100vh;">
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title style="font-size: 2em;     color: #ffffff;">{{title}}</v-toolbar-title>

              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field prepend-icon="mdi-account" name="name" v-model="user.name" label="Name" type="text"></v-text-field>
                  <v-text-field prepend-icon="mdi-account" name="email" v-model="user.email" label="Email" type="text"></v-text-field>
                  <v-text-field prepend-icon="mdi-account" name="login"  v-model="user.username" label="User" type="text"></v-text-field>
                  <v-text-field prepend-icon="mdi-lock" name="password"  v-model="user.password" label="Password" id="password" type="password"></v-text-field>
                </v-form>

              </v-card-text>
              <v-card-actions>
                  <v-btn color="warning" to="/login">Login</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary" v-on:click="doRegister()">Register</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
</template>

<script>
export default {
  data () {
    return {
        title: 'Register',
        user: {}
    }
  },
  mounted (){
    //clear local storage
    this.$storage.remove('user')
  },
  methods: {
    doRegister () {
        this.$http.post(`${this.$baseURL}/register`,this.user).then( (response)=>{
          if(response.data){
            this.$toasted.success(`Registered successfully!`)
            this.$router.push('/login')
          }
        }).catch((err)=>{
          this.$toasted.error("An error has ocurred")
        })
    }
  }
}
</script>
